<mat-toolbar color style="background-color: transparent">
  <mat-toolbar-row class="toolbar">
    <div class="brand">
      <img src="../assets/images/calangeek_brand.svg" />
      <div class="brand__child-title">
        <!-- style="color: var(--blue300)" -->
        <span>Calangeek</span>
      </div>
    </div>

    <div class="menu">
      <a href="#">
        <mat-icon class="d-flex" aria-label="Side nav toggle icon">home</mat-icon>
      </a>
      <a class="selected" href="#">Nossa História</a>
      <a href="#">Casamento</a>
      <a href="#">Lista de Presentes</a>
    </div>
    <div>
      <div>fdsafdafafda</div>
      <mat-icon class="example-icon" style="color: var(--blue300)">
        favorite
      </mat-icon>
      <mat-icon class="example-icon" style="color: white">delete</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
